*.o
writer
Test_*_Runner.c
build/
crosstool-ng
aesd-build
.vscode/
test.sh.log
arm-gnu-toolchain-13.3.rel1-x86_64-aarch64-none-linux-gnu
actions-runner
aesdsocket
server/aesdsocket
server/valgrind-out.txt
